*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Tajawal", sans-serif !important;

  height: 5000px;
}

a {
  text-decoration: none !important;
}

@media (min-width: 992px) {
  .me-auto {
    height: 60px !important;
  }
}


/* Swiper */
#app {
  height: 100%;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-progressbar-fill {
  background-color: #ee5057 !important;
}

/* sewper 2 */


.swiper-slide2 {
  background-position: center;
  background-size: cover;
  width: 300px !important;
  height: 300px;
}